
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    background: hsl(30, 38%, 92%);
    font-size: 14px;
}
.container{
    display: flex;
    flex-direction: row;
    padding: 5% 30% 5% 30%;
    width: 1440px;


    

}

.perfume-imagen {
    width: 50%;
    height: 500px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/images/image-product-desktop.jpg");
    
    border-radius: 5% 0% 0% 5%;
    
    

}

.texto{
    /*text-align: justify;*/
    background: hsl(0, 0%, 100%);
    padding: 25px;
    width: 50%;
    border-radius: 0% 5% 5% 0%;
    

    
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    letter-spacing: 0.3em;
    
}
.name{
    padding: 10px 0 10px 0;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    font-size: 40px;
    
}
.description{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    
}
.prices{
    margin: 30px 0;
    
    
}
.boton{
    background: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    width: 232px;
    height: 45px;;
    font-weight: bold;
}
.boton:hover{
    background: hsl(157, 40%, 24%)
}
.prices1{
    font-family: 'Fraunces', serif;
    width: 700;
    color:hsl(158, 36%, 37%);
    font-size: 35px;
}
.prices2{
    text-decoration:line-through;
    
    color: hsl(228, 12%, 48%);
    margin: 10px;
    text-align: center;
}

@media(max-width:768px){
    .container{
        flex-direction: column;
        padding: 5%;
        
        
    }
    .perfume-imagen {
        width: 332px;
        height: 229px;
        background-image: url("/images/image-product-mobile.jpg");
        background-repeat: no-repeat; 
        background-size: cover;
        
        background-position: center;
        border-radius: 5% 5% 0% 0%;
    
    }
    .texto{
       
        padding: 25px;
        width: 332px;
        border-radius: 0% 0% 5% 5%;
        
    
        
    }
}

